body{
    background-color: rgb(24, 21, 21);
}

#snow{
    background-image: url("img/snow_1.png"),url("img/snow_2.png"),url("img/snow_3.png");

    z-index: 1;

    animation: snow 15s linear infinite;


}

@keyframes snow{
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px ;
    }




    100%{
        background-position: 500px 750px, 150px 1500px, -175px 150px ;
    }
}

#countdown{
    position: absolute;
    left: 21%;
    top: 62%;
    color: azure;
    font-family: 'Russo One', sans-serif;
}
#countdown>p{
    font-size: 48pt;
}
#countdown>span{
    font-size:58pt ;
    
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
  }
  
#graz{
    position: absolute;
    left: 18%;
    top: 35%;
    color: snow;
    font-family: 'Mountains of Christmas';
      
}
#graz>h1{
    font-size: 138pt;
}

/* для мобилы*/
#countdownMobile{
    position: absolute;
    left: 19%;
    top: 43%;
    color: azure;
    font-family: 'Russo One', sans-serif;
}
#countdownMobile>span{
    font-size:22pt ;
    
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
  }
  
#grazMobile{
    position: absolute;
    left: 22%;
    top: 35%;
    color: snow;
    font-family: 'Mountains of Christmas';
      
}
#grazMobile>h1{
    font-size: 22pt;
}